{
  "openapi": "3.0.3",
  "info": {
    "title": "FlightBridge Partner API",
    "description": "Aviation operations platform API for flight management, FBO services, and crew coordination. Provides real-time flight data, fuel quotes, and reservation management for Part 91 and Part 135 operators.",
    "version": "2.1.0",
    "contact": {
      "name": "FlightBridge API Support",
      "email": "api-support@flightbridge.aero",
      "url": "https://developers.flightbridge.aero"
    },
    "license": {
      "name": "Commercial",
      "url": "https://flightbridge.aero/api-terms"
    }
  },
  "servers": [
    {
      "url": "https://api.flightbridge.aero/v2",
      "description": "Production"
    },
    {
      "url": "https://sandbox.flightbridge.aero/v2",
      "description": "Sandbox for testing"
    }
  ],
  "security": [
    {
      "oauth2": ["flights:read", "flights:write"]
    }
  ],
  "tags": [
    {
      "name": "Flights",
      "description": "Flight operations and scheduling"
    },
    {
      "name": "Aircraft",
      "description": "Aircraft registry and specifications"
    },
    {
      "name": "FBOs",
      "description": "Fixed Base Operator services and fuel"
    },
    {
      "name": "Reservations",
      "description": "Passenger reservations and manifests"
    },
    {
      "name": "Crew",
      "description": "Crew member assignments and certifications"
    }
  ],
  "paths": {
    "/flights": {
      "get": {
        "tags": ["Flights"],
        "operationId": "listFlights",
        "summary": "List flights",
        "description": "Retrieve a paginated list of flights. Supports filtering by date range, aircraft, and status.",
        "parameters": [
          {
            "name": "tailNumber",
            "in": "query",
            "description": "Filter by aircraft tail number (FAA N-number format)",
            "schema": {
              "type": "string",
              "example": "N123AB"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "description": "Filter by departure airport ICAO code",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{4}$",
              "example": "KTEB"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Filter by arrival airport ICAO code",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{4}$",
              "example": "KLAS"
            }
          },
          {
            "name": "departureAfter",
            "in": "query",
            "description": "Filter flights departing after this UTC timestamp",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2024-03-15T00:00:00Z"
            }
          },
          {
            "name": "departureBefore",
            "in": "query",
            "description": "Filter flights departing before this UTC timestamp",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2024-03-16T23:59:59Z"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by flight status",
            "schema": {
              "type": "string",
              "enum": ["SCHEDULED", "BOARDING", "DEPARTED", "EN_ROUTE", "ARRIVED", "CANCELLED", "DELAYED"]
            }
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with flight list",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": ["Flights"],
        "operationId": "createFlight",
        "summary": "Create a new flight",
        "description": "Schedule a new flight. Requires flights:write scope. The flight will be validated against aircraft availability and crew duty time limits.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFlightRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Flight created successfully",
            "headers": {
              "Location": {
                "description": "URL of the created flight resource",
                "schema": {
                  "type": "string",
                  "example": "/v2/flights/FLT-2024-00847"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flight"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Conflict - aircraft or crew not available for requested time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          }
        }
      }
    },
    "/flights/{flightId}": {
      "get": {
        "tags": ["Flights"],
        "operationId": "getFlight",
        "summary": "Get flight details",
        "description": "Retrieve detailed information about a specific flight including current position if en route.",
        "parameters": [
          {
            "name": "flightId",
            "in": "path",
            "required": true,
            "description": "Unique flight identifier",
            "schema": {
              "type": "string",
              "pattern": "^FLT-\\d{4}-\\d{5}$",
              "example": "FLT-2024-00847"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flight details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flight"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/flights/{flightId}/crew": {
      "get": {
        "tags": ["Flights", "Crew"],
        "operationId": "getFlightCrew",
        "summary": "Get flight crew assignments",
        "description": "Retrieve the crew manifest for a specific flight including PIC, SIC, and cabin crew.",
        "parameters": [
          {
            "name": "flightId",
            "in": "path",
            "required": true,
            "description": "Unique flight identifier",
            "schema": {
              "type": "string",
              "example": "FLT-2024-00847"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Crew assignment list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrewAssignmentResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/aircraft/{tailNumber}": {
      "get": {
        "tags": ["Aircraft"],
        "operationId": "getAircraft",
        "summary": "Get aircraft details",
        "description": "Retrieve aircraft specifications, current location, and maintenance status.",
        "parameters": [
          {
            "name": "tailNumber",
            "in": "path",
            "required": true,
            "description": "FAA N-number registration",
            "schema": {
              "type": "string",
              "pattern": "^N[0-9A-Z]{1,5}$",
              "example": "N123AB"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aircraft details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Aircraft"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/fbos": {
      "get": {
        "tags": ["FBOs"],
        "operationId": "searchFbos",
        "summary": "Search FBOs",
        "description": "Search for Fixed Base Operators by airport ICAO code or geographic area.",
        "parameters": [
          {
            "name": "icao",
            "in": "query",
            "description": "Airport ICAO code to search FBOs at",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{4}$",
              "example": "KTEB"
            }
          },
          {
            "name": "services",
            "in": "query",
            "description": "Filter by available services (comma-separated)",
            "schema": {
              "type": "string",
              "example": "fuel,hangar,deicing"
            }
          },
          {
            "name": "fuelType",
            "in": "query",
            "description": "Filter by fuel type availability",
            "schema": {
              "type": "string",
              "enum": ["JET_A", "100LL", "AVGAS", "SAF"]
            }
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching FBOs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FboListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/fbos/{fboId}": {
      "get": {
        "tags": ["FBOs"],
        "operationId": "getFbo",
        "summary": "Get FBO details",
        "description": "Retrieve detailed information about a specific FBO including contact info, hours, and services.",
        "parameters": [
          {
            "name": "fboId",
            "in": "path",
            "required": true,
            "description": "Unique FBO identifier",
            "schema": {
              "type": "string",
              "example": "FBO-KTEB-001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "FBO details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fbo"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/fbos/{fboId}/fuel-quotes": {
      "get": {
        "tags": ["FBOs"],
        "operationId": "getFuelQuotes",
        "summary": "Get fuel quotes from FBO",
        "description": "Retrieve current fuel pricing and availability. Prices are contract-specific based on your operator agreement.",
        "parameters": [
          {
            "name": "fboId",
            "in": "path",
            "required": true,
            "description": "Unique FBO identifier",
            "schema": {
              "type": "string",
              "example": "FBO-KTEB-001"
            }
          },
          {
            "name": "fuelType",
            "in": "query",
            "description": "Fuel type for quote",
            "schema": {
              "type": "string",
              "enum": ["JET_A", "100LL", "SAF"],
              "default": "JET_A"
            }
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "Requested quantity in gallons for volume pricing",
            "schema": {
              "type": "integer",
              "minimum": 50,
              "example": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fuel quote details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FuelQuoteResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/reservations": {
      "post": {
        "tags": ["Reservations"],
        "operationId": "createReservation",
        "summary": "Create passenger reservation",
        "description": "Book passengers on a scheduled flight. Validates against available capacity and passenger requirements.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReservationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reservation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reservation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "description": "Insufficient capacity on flight",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          }
        }
      }
    },
    "/reservations/{reservationId}": {
      "get": {
        "tags": ["Reservations"],
        "operationId": "getReservation",
        "summary": "Get reservation details",
        "description": "Retrieve reservation details including passenger manifest and flight information.",
        "parameters": [
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "description": "Unique reservation identifier",
            "schema": {
              "type": "string",
              "pattern": "^RES-[A-Z0-9]{8}$",
              "example": "RES-X7K9M2P4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reservation details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reservation"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization with operator-specific scopes",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.flightbridge.aero/oauth/token",
            "scopes": {
              "flights:read": "Read flight schedules and status",
              "flights:write": "Create and modify flights",
              "aircraft:read": "Read aircraft information",
              "fbos:read": "Search FBOs and get fuel quotes",
              "reservations:read": "Read passenger reservations",
              "reservations:write": "Create and modify reservations",
              "crew:read": "Read crew assignments and certifications"
            }
          },
          "authorizationCode": {
            "authorizationUrl": "https://auth.flightbridge.aero/oauth/authorize",
            "tokenUrl": "https://auth.flightbridge.aero/oauth/token",
            "scopes": {
              "flights:read": "Read flight schedules and status",
              "flights:write": "Create and modify flights",
              "aircraft:read": "Read aircraft information",
              "fbos:read": "Search FBOs and get fuel quotes",
              "reservations:read": "Read passenger reservations",
              "reservations:write": "Create and modify reservations",
              "crew:read": "Read crew assignments and certifications"
            }
          }
        }
      }
    },
    "parameters": {
      "PageSize": {
        "name": "pageSize",
        "in": "query",
        "description": "Maximum number of results per page (1-100)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "PageToken": {
        "name": "pageToken",
        "in": "query",
        "description": "Cursor token for pagination. Obtained from nextPageToken in previous response.",
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Maximum requests allowed per minute",
        "schema": {
          "type": "integer",
          "example": 100
        }
      },
      "X-RateLimit-Remaining": {
        "description": "Remaining requests in current window",
        "schema": {
          "type": "integer",
          "example": 87
        }
      },
      "X-RateLimit-Reset": {
        "description": "Unix timestamp when the rate limit resets",
        "schema": {
          "type": "integer",
          "example": 1710532800
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid authentication",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying",
            "schema": {
              "type": "integer",
              "example": 30
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "Flight": {
        "type": "object",
        "description": "A scheduled or completed flight operation",
        "required": ["flightId", "tailNumber", "origin", "destination", "departureTime", "status"],
        "properties": {
          "flightId": {
            "type": "string",
            "description": "Unique flight identifier in format FLT-YYYY-NNNNN",
            "pattern": "^FLT-\\d{4}-\\d{5}$",
            "example": "FLT-2024-00847"
          },
          "tailNumber": {
            "type": "string",
            "description": "Aircraft FAA N-number registration",
            "pattern": "^N[0-9A-Z]{1,5}$",
            "example": "N123AB"
          },
          "origin": {
            "type": "string",
            "description": "Departure airport ICAO code",
            "pattern": "^[A-Z]{4}$",
            "example": "KTEB"
          },
          "destination": {
            "type": "string",
            "description": "Arrival airport ICAO code",
            "pattern": "^[A-Z]{4}$",
            "example": "KLAS"
          },
          "departureTime": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled departure time in UTC (ISO 8601)",
            "example": "2024-03-15T14:30:00Z"
          },
          "arrivalTime": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated or actual arrival time in UTC (ISO 8601)",
            "example": "2024-03-15T19:45:00Z"
          },
          "status": {
            "type": "string",
            "description": "Current flight status",
            "enum": ["SCHEDULED", "BOARDING", "DEPARTED", "EN_ROUTE", "ARRIVED", "CANCELLED", "DELAYED"],
            "example": "SCHEDULED"
          },
          "paxCount": {
            "type": "integer",
            "description": "Number of passengers booked",
            "minimum": 0,
            "example": 6
          },
          "flightRules": {
            "type": "string",
            "description": "Flight rules (IFR/VFR)",
            "enum": ["IFR", "VFR"],
            "example": "IFR"
          },
          "estimatedBlockTime": {
            "type": "string",
            "description": "Estimated block time in ISO 8601 duration format",
            "example": "PT5H15M"
          },
          "actualDepartureTime": {
            "type": "string",
            "format": "date-time",
            "description": "Actual wheels-up time (only set after departure)"
          },
          "actualArrivalTime": {
            "type": "string",
            "format": "date-time",
            "description": "Actual wheels-down time (only set after arrival)"
          },
          "currentPosition": {
            "$ref": "#/components/schemas/Position"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when flight was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of last update"
          }
        }
      },
      "CreateFlightRequest": {
        "type": "object",
        "required": ["tailNumber", "origin", "destination", "departureTime"],
        "properties": {
          "tailNumber": {
            "type": "string",
            "description": "Aircraft to schedule for this flight",
            "example": "N123AB"
          },
          "origin": {
            "type": "string",
            "description": "Departure airport ICAO code",
            "example": "KTEB"
          },
          "destination": {
            "type": "string",
            "description": "Arrival airport ICAO code",
            "example": "KLAS"
          },
          "departureTime": {
            "type": "string",
            "format": "date-time",
            "description": "Requested departure time in UTC",
            "example": "2024-03-15T14:30:00Z"
          },
          "flightRules": {
            "type": "string",
            "enum": ["IFR", "VFR"],
            "default": "IFR"
          },
          "picCrewId": {
            "type": "string",
            "description": "Pilot in Command crew member ID"
          },
          "sicCrewId": {
            "type": "string",
            "description": "Second in Command crew member ID"
          },
          "notes": {
            "type": "string",
            "description": "Internal notes for dispatch",
            "maxLength": 1000
          }
        }
      },
      "FlightListResponse": {
        "type": "object",
        "properties": {
          "flights": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flight"
            }
          },
          "nextPageToken": {
            "type": "string",
            "description": "Token to retrieve next page of results"
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of flights matching the query"
          }
        }
      },
      "Aircraft": {
        "type": "object",
        "description": "Aircraft registry entry with specifications",
        "required": ["tailNumber", "type", "manufacturer"],
        "properties": {
          "tailNumber": {
            "type": "string",
            "description": "FAA N-number registration",
            "pattern": "^N[0-9A-Z]{1,5}$",
            "example": "N123AB"
          },
          "type": {
            "type": "string",
            "description": "Aircraft type designation",
            "example": "G650"
          },
          "manufacturer": {
            "type": "string",
            "description": "Aircraft manufacturer",
            "example": "Gulfstream"
          },
          "model": {
            "type": "string",
            "description": "Full model name",
            "example": "Gulfstream G650ER"
          },
          "capacity": {
            "type": "integer",
            "description": "Maximum passenger capacity",
            "minimum": 1,
            "example": 14
          },
          "homeBase": {
            "type": "string",
            "description": "Home base airport ICAO code",
            "pattern": "^[A-Z]{4}$",
            "example": "KTEB"
          },
          "currentLocation": {
            "type": "string",
            "description": "Current airport location ICAO code",
            "example": "KLAS"
          },
          "serialNumber": {
            "type": "string",
            "description": "Aircraft serial number",
            "example": "6234"
          },
          "yearManufactured": {
            "type": "integer",
            "description": "Year of manufacture",
            "example": 2019
          },
          "maxRange": {
            "type": "integer",
            "description": "Maximum range in nautical miles",
            "example": 7500
          },
          "cruiseSpeed": {
            "type": "integer",
            "description": "Typical cruise speed in knots",
            "example": 516
          },
          "fuelCapacity": {
            "type": "integer",
            "description": "Fuel capacity in gallons",
            "example": 6500
          },
          "maintenanceStatus": {
            "type": "string",
            "description": "Current maintenance status",
            "enum": ["AIRWORTHY", "SCHEDULED_MAINTENANCE", "AOG", "INSPECTION_DUE"],
            "example": "AIRWORTHY"
          },
          "nextInspectionDue": {
            "type": "string",
            "format": "date",
            "description": "Date of next required inspection"
          }
        }
      },
      "Fbo": {
        "type": "object",
        "description": "Fixed Base Operator facility",
        "required": ["fboId", "icaoCode", "name"],
        "properties": {
          "fboId": {
            "type": "string",
            "description": "Unique FBO identifier",
            "example": "FBO-KTEB-001"
          },
          "icaoCode": {
            "type": "string",
            "description": "Airport ICAO code where FBO is located",
            "pattern": "^[A-Z]{4}$",
            "example": "KTEB"
          },
          "name": {
            "type": "string",
            "description": "FBO business name",
            "example": "Signature Flight Support"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "type": "string",
            "description": "Primary contact phone",
            "example": "+1-201-288-1775"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Operations email",
            "example": "ops.teb@signatureflight.com"
          },
          "fuelAvailable": {
            "type": "array",
            "description": "Fuel types available",
            "items": {
              "type": "string",
              "enum": ["JET_A", "100LL", "AVGAS", "SAF"]
            },
            "example": ["JET_A", "SAF"]
          },
          "services": {
            "type": "array",
            "description": "Services offered by this FBO",
            "items": {
              "type": "string",
              "enum": ["fuel", "hangar", "deicing", "lavatory", "gpu", "oxygen", "catering", "customs", "rental_car", "crew_lounge", "conference_room", "wifi", "shower"]
            },
            "example": ["fuel", "hangar", "deicing", "gpu", "crew_lounge", "wifi"]
          },
          "operatingHours": {
            "type": "string",
            "description": "Operating hours in local time",
            "example": "24/7"
          },
          "unicomFrequency": {
            "type": "string",
            "description": "FBO UNICOM radio frequency",
            "example": "122.95"
          },
          "runwayAccess": {
            "type": "array",
            "description": "Runways accessible from this FBO",
            "items": {
              "type": "string"
            },
            "example": ["01/19", "06/24"]
          },
          "isPart139": {
            "type": "boolean",
            "description": "Whether airport is Part 139 certified"
          }
        }
      },
      "FboListResponse": {
        "type": "object",
        "properties": {
          "fbos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fbo"
            }
          },
          "nextPageToken": {
            "type": "string"
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "FuelQuote": {
        "type": "object",
        "description": "Fuel pricing quote from an FBO",
        "required": ["quoteId", "fboId", "fuelType", "pricePerGallon", "validUntil"],
        "properties": {
          "quoteId": {
            "type": "string",
            "description": "Unique quote identifier",
            "example": "FQ-2024-A8X9K2"
          },
          "fboId": {
            "type": "string",
            "description": "FBO providing the quote",
            "example": "FBO-KTEB-001"
          },
          "fuelType": {
            "type": "string",
            "description": "Type of fuel",
            "enum": ["JET_A", "100LL", "SAF"],
            "example": "JET_A"
          },
          "pricePerGallon": {
            "type": "number",
            "format": "decimal",
            "description": "Price per gallon in USD",
            "example": 6.85
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217)",
            "default": "USD",
            "example": "USD"
          },
          "validUntil": {
            "type": "string",
            "format": "date-time",
            "description": "Quote expiration timestamp",
            "example": "2024-03-15T23:59:59Z"
          },
          "minQuantity": {
            "type": "integer",
            "description": "Minimum purchase quantity in gallons",
            "example": 100
          },
          "volumeDiscounts": {
            "type": "array",
            "description": "Volume-based discount tiers",
            "items": {
              "type": "object",
              "properties": {
                "minGallons": {
                  "type": "integer"
                },
                "pricePerGallon": {
                  "type": "number",
                  "format": "decimal"
                }
              }
            }
          },
          "contractPricing": {
            "type": "boolean",
            "description": "Whether this is contract pricing vs retail"
          },
          "includesTaxes": {
            "type": "boolean",
            "description": "Whether price includes applicable taxes"
          }
        }
      },
      "FuelQuoteResponse": {
        "type": "object",
        "properties": {
          "quotes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FuelQuote"
            }
          },
          "availableQuantity": {
            "type": "integer",
            "description": "Current fuel inventory available in gallons"
          },
          "lastDelivery": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of last fuel delivery"
          }
        }
      },
      "Reservation": {
        "type": "object",
        "description": "Passenger reservation for a flight",
        "required": ["reservationId", "flightId", "customerId", "status", "createdAt"],
        "properties": {
          "reservationId": {
            "type": "string",
            "description": "Unique reservation identifier",
            "pattern": "^RES-[A-Z0-9]{8}$",
            "example": "RES-X7K9M2P4"
          },
          "flightId": {
            "type": "string",
            "description": "Associated flight identifier",
            "example": "FLT-2024-00847"
          },
          "customerId": {
            "type": "string",
            "description": "Customer account identifier",
            "example": "CUST-00482"
          },
          "status": {
            "type": "string",
            "description": "Reservation status",
            "enum": ["CONFIRMED", "PENDING", "CANCELLED", "CHECKED_IN", "BOARDED", "NO_SHOW"],
            "example": "CONFIRMED"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Reservation creation timestamp",
            "example": "2024-03-10T09:15:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          },
          "paxManifest": {
            "type": "array",
            "description": "Passenger manifest",
            "items": {
              "$ref": "#/components/schemas/Passenger"
            }
          },
          "specialRequests": {
            "type": "string",
            "description": "Special handling requests",
            "example": "Wheelchair assistance required for PAX 2"
          },
          "cateringRequests": {
            "type": "string",
            "description": "Catering preferences",
            "example": "Vegetarian meals for all passengers"
          },
          "groundTransportation": {
            "type": "boolean",
            "description": "Ground transportation requested"
          }
        }
      },
      "CreateReservationRequest": {
        "type": "object",
        "required": ["flightId", "customerId", "passengers"],
        "properties": {
          "flightId": {
            "type": "string",
            "description": "Flight to book"
          },
          "customerId": {
            "type": "string",
            "description": "Customer account ID"
          },
          "passengers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PassengerInput"
            },
            "minItems": 1
          },
          "specialRequests": {
            "type": "string"
          },
          "cateringRequests": {
            "type": "string"
          },
          "groundTransportation": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "Passenger": {
        "type": "object",
        "description": "Passenger information",
        "required": ["firstName", "lastName"],
        "properties": {
          "firstName": {
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "example": "Smith"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "passportNumber": {
            "type": "string",
            "description": "Passport number for international flights"
          },
          "passportExpiry": {
            "type": "string",
            "format": "date"
          },
          "nationality": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "US"
          },
          "weight": {
            "type": "integer",
            "description": "Passenger weight in pounds (for W&B calculations)",
            "example": 180
          },
          "isLead": {
            "type": "boolean",
            "description": "Whether this is the lead/primary passenger"
          }
        }
      },
      "PassengerInput": {
        "type": "object",
        "required": ["firstName", "lastName"],
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "weight": {
            "type": "integer"
          }
        }
      },
      "CrewMember": {
        "type": "object",
        "description": "Flight crew member",
        "required": ["crewId", "name", "role"],
        "properties": {
          "crewId": {
            "type": "string",
            "description": "Unique crew member identifier",
            "example": "CREW-00127"
          },
          "name": {
            "type": "string",
            "description": "Full name",
            "example": "Sarah Johnson"
          },
          "role": {
            "type": "string",
            "description": "Crew role/position",
            "enum": ["PIC", "SIC", "RELIEF_PILOT", "FLIGHT_ATTENDANT", "FLIGHT_ENGINEER"],
            "example": "PIC"
          },
          "certifications": {
            "type": "array",
            "description": "Current certifications and type ratings",
            "items": {
              "type": "string"
            },
            "example": ["ATP", "G650", "G550", "CL350"]
          },
          "flightHours": {
            "type": "integer",
            "description": "Total logged flight hours",
            "example": 8500
          },
          "flightHoursInType": {
            "type": "integer",
            "description": "Flight hours in assigned aircraft type",
            "example": 2400
          },
          "medicalClass": {
            "type": "string",
            "description": "FAA medical certificate class",
            "enum": ["FIRST", "SECOND", "THIRD"],
            "example": "FIRST"
          },
          "medicalExpiry": {
            "type": "string",
            "format": "date",
            "description": "Medical certificate expiration date"
          },
          "lastCheckride": {
            "type": "string",
            "format": "date",
            "description": "Date of last proficiency check"
          },
          "dutyStatus": {
            "type": "string",
            "description": "Current duty time status",
            "enum": ["AVAILABLE", "ON_DUTY", "REST_REQUIRED", "VACATION", "TRAINING"],
            "example": "AVAILABLE"
          }
        }
      },
      "CrewAssignmentResponse": {
        "type": "object",
        "properties": {
          "flightId": {
            "type": "string"
          },
          "crew": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CrewMember"
            }
          },
          "dutyTimeRemaining": {
            "type": "string",
            "description": "Remaining duty time for crew in ISO 8601 duration",
            "example": "PT6H30M"
          }
        }
      },
      "Position": {
        "type": "object",
        "description": "Geographic position with altitude",
        "properties": {
          "latitude": {
            "type": "number",
            "format": "double",
            "description": "Latitude in decimal degrees",
            "example": 40.8568
          },
          "longitude": {
            "type": "number",
            "format": "double",
            "description": "Longitude in decimal degrees",
            "example": -74.0614
          },
          "altitude": {
            "type": "integer",
            "description": "Altitude in feet MSL",
            "example": 35000
          },
          "groundSpeed": {
            "type": "integer",
            "description": "Ground speed in knots",
            "example": 485
          },
          "heading": {
            "type": "integer",
            "description": "Magnetic heading in degrees",
            "minimum": 0,
            "maximum": 360,
            "example": 270
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Position report timestamp"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "street": {
            "type": "string",
            "example": "111 Industrial Ave"
          },
          "city": {
            "type": "string",
            "example": "Teterboro"
          },
          "state": {
            "type": "string",
            "example": "NJ"
          },
          "postalCode": {
            "type": "string",
            "example": "07608"
          },
          "country": {
            "type": "string",
            "example": "USA"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code",
                "example": "INVALID_PARAMETER"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error description",
                "example": "The 'departureTime' must be in the future"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string"
                    },
                    "reason": {
                      "type": "string"
                    }
                  }
                }
              },
              "requestId": {
                "type": "string",
                "description": "Request ID for support reference",
                "example": "req_7x9k2m4p"
              }
            }
          }
        }
      },
      "ConflictError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "RESOURCE_CONFLICT"
              },
              "message": {
                "type": "string",
                "example": "Aircraft N123AB is not available for the requested time"
              },
              "conflictingResource": {
                "type": "string",
                "description": "ID of the conflicting resource"
              },
              "conflictingTime": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      }
    }
  }
}
